<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.HotsMapper">
    <select id="getHotNovel" resultType="com.cc.model.Hots">
        SELECT novel.id, novel.name, hots.num
        FROM hots
        INNER JOIN novel
        ON  hots.id = novel.id
        ORDER BY num DESC
        LIMIT #{num}
    </select>
</mapper>